   @font-face {
        font-family: 'montserratregular';
        src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
             url('fonts/montserrat-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
 } 
 @font-face {
    font-family: 'montserratbold';
    src: url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemibold';
    src: url('fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
    
*
{
    font-family: 'montserratregular';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    width: 1160px;
    margin: 0 auto;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.nav-menu ul{
    display: flex;
    justify-content: space-between;
}
.nav-menu .nav-item{
    padding: 20px;
}
.nav-menu ul li a{
    font-size: 1rem;
    color: #5a6e79;
    font-weight: 500;
}
.nav-menu .active-menu{
    font-size: 1rem;
    color: #43cb83;
    border-bottom: 1px solid #43cb83;
}
 .nav-link.apply {
    color: #43cb83;
    background-color: #fff;
    padding: 13px 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 100px 10px #f3f3f6, -5px -5px 100px 10px #f3f3f6;
}
.hamburger{
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 11;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    color: #43cb83;
    display: none;

}

.hamburger i{
    font-size: 1.3rem;
}


/* Department Section */
.department .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 80px;
    gap: 50px;
    text-align: center;
}
.department p{
    color: #252c3a;
    font-size: 1.875rem;
    font-family: 'montserratsemibold';
    font-weight: bold;
}
.dept1{
    background-color: #f1e3fc;
}
.dept2{
    background-color: #e3fcfa;
}
.dept3{
    background-color: #fcf0e3;
}
.dept4{
    background-color: #fceee3;
}
.dept5{
    background-color: #f3fce3;
}
.dept6{
    background-color: #e3f3fc;
}
.dept {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    border-radius: 6px;
}
.dept img{
    padding-bottom: 25px;
}


/* Hero Section */
.hero-section{
    margin-top: 150px;
}

.hero-section-container {
    display: grid;
    grid-template-columns: 4fr 3fr 3fr;
    justify-items: flex-end;
    gap: 50px;
}
.hero-section-container img{
    width: 100%;
}
.hero-center h1 {
    font-size: 2.5rem;
    color: #43cb83;
    line-height: 1.3;
    font-family: 'montserratsemibold';
    font-weight: bold;
}
.hero-center p{
    color: #5a6e79;
    font-size: 1.125rem;
    line-height: 1.6;
    padding: 12px 0;
}
.hero-center a {
    font-size: 1.125rem;
    padding: 15px 30px;
    background-color: #43cb83;
    border-radius: 30px;
    color: #fff;
}
.campus-link {
    margin-top: 30px;
}
.hero-right {
    align-self: flex-end;
}
.hero-center {
    padding-top: 50px;
}

/* Signup Section */

.signup{
    background-color: #f1e3fc;
    margin: 200px 0;
    position: relative;
}
.signup-container {
    width: 1700px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 30px;
    margin: 0 auto; 
}
.left-signup-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
.right-img {
    justify-self: flex-end;
}
.signup-headline p {
    font-size: 1rem;
    color: #252c3a;
}
.signup-headline {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.signup-headline span{
    color: #fb384d;
}
.signup-headline .second-line {
    font-size: 2rem;
    color: #252c3a;
    letter-spacing: 0;
    padding-top: 12px;
}
.main-signup {
    background-color: #fff;
    width: 450px;
    border-radius: 5px;
    padding: 30px;
    position: absolute;
    top: -20%;
    left: 62%;
    border: 1px solid #fff;
    box-shadow: 0px 10px 15px #f3f3f6, 0px -10px 15px #f3f3f6;

}
.main-signup input[type="text"],input[type="password"],input[type="email"]{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    padding: 8px;
    border-color: #d7e4ed;
}
::placeholder{
    color: #5a6e79;
    font-size: 0.875rem;
}
form h3{
    color: #202020;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 30px 0;
}
.field label{
    color: #87959c;
    font-size: 0.813rem;
}
.field {
    padding: 10px 0;
}
.apply-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px 0;
}
.apply-field button{
    padding: 15px 30px;
    background-color: #43cb83;
    border: none;
    border-radius: 20px;
    color: #fff;
}
.apply-field span{
    color: #5a6e79;
    font-size: 0.938rem;
    font-weight: bold;
}
.apply-field p{
    color: #5a6e79;
    font-size: 0.813rem;
    padding-bottom: 8px;
}
.signin a{
    color: #87959c;
    font-size: 0.813rem;
    border-bottom: 1px solid #87959c;
}


/* News Section */

section.news {
    margin: 50px 0;
}

.news-para {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: flex-end;
    gap: 20px;
    align-items: center;
}
.tweets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    padding: 20px 0;
}
.tweet-reactions {
    display: flex;
    justify-content: space-between;
}
.news-headline {
    padding: 50px 0;
    border-bottom: 1px solid #eff0f4;
    margin: 30px 0;
}
.tweet-reactions-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}
.news h1{
    color: #43cb83;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 25px;
}
.news-para p{
    font-size: 1rem;
    color: #5a6e79;
    line-height: 1.6;
}
.news-para a{
    background-color: #43cb83;
    color: #fff;
    padding: 16px 50px;
    border-radius: 30px;
}
.tweet-title h3{
    color: #252c3a;
    font-size: 1.875rem;
}
.tweet-title p{
    color: #5a6e79;
    font-size: 0.9rem;
    line-height: 1.6;
    padding: 15px 0;
}
.tweet-reactions i:hover{
    color: #49cd87;
    cursor: pointer;
}
i.fas.fa-heart {
    padding-right: 5px;
}
i.fas.fa-comment-dots {
    padding-right: 5px;
}

/* Footer Section */

#footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #252c3a;
    color: #fff;
    gap: 20px;
    padding: 20px 10px
}
.social-icons ul {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    padding: 25px 0;
}

.social-icons ul li a{
    color: #4a4a4a;
}
.footer-para p{
    padding: 30px 0;
    border-bottom:  1px solid #303744;
    line-height: 1.6;
}
#footer .social-icons ul li a:hover{
    color: #057de3;
}
.row h4{
    font-size: 0.875rem;
}
.row p{
    color: #969595;
    font-size: 0.875rem;
}
.rows-para{
    padding-top: 65px;
}
.rows-para p{
    padding-bottom: 30px;
}
.support .rows-para p{
    line-height: 1.6;
}
.rows-para span{
    color: #6b6b6b;
    font-size: 00.75rem;
}
.search-bar form{
    display: flex;
}

.search-bar #email, .search-bar #submit{
    border: none;
    padding: 10px;
    outline: none;
}

.search-bar #submit{
    background-color: #43cb83;
    color: #fff;
}
.search-bar input::placeholder{
    padding-left: 15px;
}
/* University Section */

#university{
    width: 1330px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 100px;
}
.university-left img{
    width: 100%;
}
.university-right{
    padding: 25px;
}

.university-header h4 {
    font-size: 2.5rem;
    color: #252c3a;
    line-height: 1.2;
    color: #43cb83;
    font-family: montserratbold;
    font-weight: bold;
}
.university-para p{
    color: #5a6e79;
    line-height: 1.6;
    padding-top: 30px;
    font-size: 1.125rem;
    letter-spacing: 1px;
}

div#students p {
    color: #ffba00;
}
div#students span {
    color: #ffba00;
}
div#courses span{
    color: #ff5f72;
}
div#hours span{
    color: #43cb83;
}
.university-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
}
.university-footer p{
    font-size: 2.5rem;
}
.university-footer span{
    font-size: 1.25rem;
}
div#courses p{
    color: #ff5f72;
}
div#hours p{
    color: #43cb83;
}


/* Copyright Section */

.copyright .container{
    background-color: #1d232e;
    color: #6b6b6b;
    font-size: 0.813rem;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}
.copyright a{
    color: #6b6b6b;
}
.copyright .copyright-right ul{
    display: flex;
    justify-content: space-between;
}
.copyright-right li {
    padding-left: 15px;
}
